.s-table {
 	table {
 		width: 100%;
 		border-collapse: collapse;
 		overflow: hidden;
 	}

 	table.border {
 		border-radius: 0.625rem;
 	}

 	thead {
		border-bottom: 1px solid var(--s-neutral-300);
 		font-weight: 500;
 		cursor: pointer;
 	}

 	th {
 		color: var(--s-text);
		height: 2.5rem;
 		text-align: left;
 		padding: 1rem;

 		div {
 			color: var(--s-text);
 		}
 	}

 	tbody {
 		color: var(--s-text);

 		tr {
 			height: 3rem;
			border-bottom: 1px solid var(--s-neutral-300);
 			cursor: pointer;
 			padding: 1rem;

 			td {
 				padding-left: 1rem;
 			}
 		}

		tr:hover {
			background-color: var(--s-neutral);
		}
 	}
}