.navbar {
  &__container {
    background-color: var(--s-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
  }
  &__corporative {
    display: inline-flex;
    margin-right: 3.125rem;

    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--s-text);
    }
  }

  &__main_menu {
    flex: 1;

    ul {
      display: inline-flex;

      li {
        display: block;

        a {
          color: var(--s-primary);
          padding: 0.625rem;
          margin-left: 1rem;

          &:hover,
          &.active {
            border-bottom: 2px solid var(--s-secondary);
          }
        }
      }
    }
  }
  &__theme {
    &--icon {
      font-size: 2rem;
    }
  }
}