@if (cryptos) {
  <section class="cyptos-list">
    <s-table [headers]="headers" [bodyTemplate]="body" class="cyptos-list__table">
      <ng-template #body>
        @for (crypto of cryptos; ; track crypto.name) {
        <tr (click)="goDetail(crypto.id)">
          <td>{{ crypto.market_cap_rank }}</td>
          <td><img [src]="crypto.image" alt="{{ crypto.name }}" width="30"></td>
          <td>{{ crypto.name }}</td>
          <td>€{{ crypto.current_price | number: '1.2-2' }}</td>
          <td [ngClass]="getChangeClass(crypto.price_change_percentage_24h)">
            {{ crypto.price_change_percentage_24h | number: '1.2-2' }}%
          </td>
          <td>€{{ crypto.total_volume | number: '1.0-0' }}</td>
          <td>€{{ crypto.market_cap | number: '1.0-0' }}</td>
        </tr>
        }
      </ng-template>
    </s-table>
  </section>
}