.footer {
	align-items: center;
	bottom: 0;
	background: var(--s-primary);
	color: var(--s-white);
	display: flex;
	height: 2rem;
	justify-content: space-between;
	left: 0;
	padding: 1rem;
	//position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;

	p {
		color: var(--ti-white);
	}
}